<a href="https://colab.research.google.com/github/moonesm3/ScientificComputingWithPython2022/blob/moones_mobaraki/ScientificComputingWithPython_Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## *Problem No.1:*
**The HelloWorld replacement**

a) Write a program that:

prints the numbers from 1 to 100
but for multiples of three print "Hello" instead of the number and for the multiples of five print "World"
for numbers which are multiples of both three and five print "HelloWorld"

In [1]:
for i in range(1,101):
  if i % 15 == 0:
    print("HelloWorld")
  elif (i % 3 == 0):
    print("Hello")
  elif (i % 5 == 0):
    print("World")
  else:
    print(i)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [8]:
l = []
for i in range(1,101):
  if i % 15 == 0:
    l.append("HelloWorld")
  elif (i % 3 == 0):
    l.append("Python")
  elif (i % 5 == 0):
    l.append("Works")
  else:
    l.append(i)
print(tuple(l))

(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'HelloWorld', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'HelloWorld', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'HelloWorld', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'HelloWorld', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'HelloWorld', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'HelloWorld', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

# *Problem No.2:*
**The swap**

Write a program that swaps the values of two input variables x and y from command line (whatever the type).

Try to do that without using a temporary variable, exploiting the Python syntax.

In [ ]:
x = int(input("Enter first number:"))
y = int(input("Enter second number:"))
print("x and y are:", x , "&" , y)
x , y = y , x 
print("After Swapping the result will be:","x =",x, "&","y =",y)

Enter first number:1
Enter second number:2
x and y are: 1 & 2
After Swapping the result will be: x = 2 & y = 1

# ***Problem No.3:***
**Computing the distance**

Write a function that calculates and returns the euclidean distance between two points u and v in a 2D space, where u and v are both 2-tuples (x,y).

Example: if u=(3,0) and v=(0,4), the function should return 5.

Hint: in order to compute the square root, import the math library with import math and use math.sqrt().

In [ ]:
#First of all import library we want
import math
def EuclideanDist(u,v):
  #First calculate x
  x = float(u[0]) - float(v[0])
  #Second calculate y 
  y = float(u[1]) - float(v[1])
  #Calculate distance
  z = math.sqrt(pow(x,2) + pow(y,2))
  return z 
u = tuple(input("Enter two dimentions x and y Values for u:").split())
v = tuple(input("Enter two dimentions x and y Values for v:").split())
print(EuclideanDist(u,v))

Enter two dimentions x and y Values for u:1 3
Enter two dimentions x and y Values for v:2 4
1.4142135623730951

# ***Problem No.4:***
**Counting letters**

Write a program that calculates the number of times each character occurs in a given string. Ignore differences in capitalization.

The strings are in the cell below.

s1 = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

s2 = "The quick brown fox jumps over the lazy dog"

In [ ]:
from collections import Counter
#Combine two strings
s1 = "Write a program that prints the numbers from 1 to 100.But for multiples of three print Hello instead of the number and for the multiples of five print World.For numbers which are multiples of both three and five print HelloWorld."
s2 = "The quick brown fox jumps over the lazy dog"
s3 = s1 + s2
print("Our sum string is:",s3)
s3 = s3.lower()
collection = Counter(s3)
print(collection)

Our sum string is: Write a program that prints the numbers from 1 to 100.But for multiples of three print Hello instead of the number and for the multiples of five print World.For numbers which are multiples of both three and five print HelloWorld.The quick brown fox jumps over the lazy dog
Counter({' ': 47, 'e': 23, 'r': 21, 't': 21, 'o': 19, 'i': 13, 'h': 13, 'l': 13, 'n': 11, 'f': 11, 'p': 9, 'm': 9, 'u': 9, 'a': 8, 's': 8, 'b': 6, 'd': 6, 'w': 5, '.': 3, 'v': 3, 'g': 2, '1': 2, '0': 2, 'c': 2, 'q': 1, 'k': 1, 'x': 1, 'j': 1, 'z': 1, 'y': 1})

# ***Problem No.5:***
**Isolating the unique**

Write a program that determines and counts the unique numbers in the list:

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [ ]:
#First solution:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
#This method will give us the sorted answer
ListOfUniqueValues = set(l)
print("The list with unique values is:", ListOfUniqueValues)
print("And the length of it is:", len(ListOfUniqueValues))

The list with unique values is: {1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}
And the length of it is: 54

In [ ]:
#Second solution:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20] 
ListOfUniqueValues = [ x for i, x in enumerate(l) if x not in l[:i]]
print(ListOfUniqueValues)
print("No of unique items in the list are:", len(ListOfUniqueValues))

[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]
No of unique items in the list are: 54

In [ ]:
#Third solution:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20] 
count = 0
ListOfUniqueValues = []
for x in l:
    if x not in ListOfUniqueValues:
        count += 1
        ListOfUniqueValues.append(x)
 
print("The list with unique values is:",ListOfUniqueValues)
print("And the length of it is:", count)

The list with unique values is: [36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]
And the length of it is: 54

Other way to solve the problem:

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
l = l.sort()
print(l)

None

# ***Problem No.6:***
Casting

a)reads from command line two variables, that can be either int, float, or str.

In [1]:
x = input("Enter the fisrt variable:")
y = input("Enter the second variable:")

Enter the fisrt variable:1
Enter the second variable:2

b)use the try/except expressions to perform the addition of these two variables, only if possible

In [12]:
x = input("Enter the fisrt variable:")
y = input("Enter the second variable:")
z = x + y
try:
  x = int(x)
  y = int(y)
  z = x + y
  print("The sum of two integer is:",z)
except:
  print("The sum is not possible.(two integer)")

try:
  x = float(x)
  y = float(y)
  print("The sum of two float is:",z2)
except:
  print("The sum is not possible.(two flaot)")

try:
  x = str(x)
  y = str(y)
  print("For all inputs if we consider them as string, the result will be:",z)
  print("No error if we condsider everything as string :)")
except:
  print("You will never see this line :)")

Enter the fisrt variable:1
Enter the second variable:a
The sum is not possible.(two integer)
The sum is not possible.(two flaot)
For all inputs if we consider them as string, the result will be: 1a
No error if we condsider everything as string :)

# ***Problem No.7:***
**Cubes**

Create a list of the cubes of x for x in [0, 10] using:

a) a for loop

In [ ]:
l = []
for i in range(1,11):
  a = i ** 3
  l.append(a)
print(l)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

b) a list comprehension

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]
cube = [pow(i, 3) for i in l]
print(cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# ***Problem No.8:***
**List comprehension**

Write, using the list comprehension, a single-line expression that gets the same result as the code in the cell below.

In [ ]:
a = []
for i in range(3):
    for j in range(4):
        a.append((i, j))
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

In [ ]:
#Solution:
a = [(x,y) for x in range(3) for y in range(4)]
print(a)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

# ***Problem No.9:***
**Nested list comprehension**

A Pythagorean triple is an integer solution to the Pythagorean theorem a^2 + b^2 = c^2 . The first Pythagorean triple is (3, 4, 5).

Find and put in a tuple all unique Pythagorean triples for the positive integers ,  and  with all possible integers a,b and c with c <100 .

In [4]:
[(a,b,c) for c in range(1,101) for a in range(c) for b in range(a) if a**2 + b**2 == c**2]

[(4, 3, 5),
 (8, 6, 10),
 (12, 5, 13),
 (12, 9, 15),
 (15, 8, 17),
 (16, 12, 20),
 (20, 15, 25),
 (24, 7, 25),
 (24, 10, 26),
 (21, 20, 29),
 (24, 18, 30),
 (30, 16, 34),
 (28, 21, 35),
 (35, 12, 37),
 (36, 15, 39),
 (32, 24, 40),
 (40, 9, 41),
 (36, 27, 45),
 (40, 30, 50),
 (48, 14, 50),
 (45, 24, 51),
 (48, 20, 52),
 (45, 28, 53),
 (44, 33, 55),
 (42, 40, 58),
 (48, 36, 60),
 (60, 11, 61),
 (52, 39, 65),
 (56, 33, 65),
 (60, 25, 65),
 (63, 16, 65),
 (60, 32, 68),
 (56, 42, 70),
 (55, 48, 73),
 (70, 24, 74),
 (60, 45, 75),
 (72, 21, 75),
 (72, 30, 78),
 (64, 48, 80),
 (80, 18, 82),
 (68, 51, 85),
 (75, 40, 85),
 (77, 36, 85),
 (84, 13, 85),
 (63, 60, 87),
 (80, 39, 89),
 (72, 54, 90),
 (84, 35, 91),
 (76, 57, 95),
 (72, 65, 97),
 (80, 60, 100),
 (96, 28, 100)]

# ***Problem No.10:***
**Normalization of a N-dimensional vector**

Write a program that takes an N-dimensional vector, e.g. a variable-length tuple of numbers, and normalizes it to one (in such a way that the squared sum of all the entries is equal to 1)

In [3]:
import math
vector = tuple(input("Enter vector:").split())
l = []
sum = 0
for i in range (0,len(vector)):
  l.append(vector[i])
for x in l:
  a = (int(x)**2)
  sum += a
print("The magnitude is = sqrt of",sum , "(",math.sqrt(sum),")")
print("For normalizing we should divide every arrays by magnitude")
for y in range(len(l)):
  l[y] = float(l[y])/math.sqrt(sum)
print(l)

Enter vector:1 2 3
The magnitude is = sqrt of 14 ( 3.7416573867739413 )
For normalizing we should divide every arrays by magnitude
[0.2672612419124244, 0.5345224838248488, 0.8017837257372732]

# ***Problem No.11:***
**The Fibonacci sequence**

Calculate the first 20 numbers of the Fibonacci sequence using only for or while loops.

In [ ]:
FirstNumber = 0 
SecondNumber = 1
count = 0
limit = 20
while count < limit:
       print(FirstNumber)
       NextNumber = FirstNumber + SecondNumber
       FirstNumber = SecondNumber
       SecondNumber = NextNumber
       count += 1

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181